<div class="container">
  <h1>Plans Index Page</h1>
  <div class="cards">
    <% if user_signed_in? %>
      <a id="newPlanBtn">
        <div class="plan-card text-center">
          <i class="fas fa-plus-circle"></i>
        </div>
      </a>
    <% end %>
    <% @plans.each do |plan| %>
      <div class="plan-card">
        <div class="plan-icon">
          <i class="<%= find_icon(plan.category_list[0]) %>"></i>
        </div>
        <div class="card-body">
          <h5 class="card-title"><%=plan.name%></h5>
          <div class = "flex-container">
            <p class="card-text">By: </p>
            <p>Created at:</p>
          </div>
          <a><%= link_to "Select Plan!", plan_path(plan), class: "btn btn-primary" %></a>
          <% if !current_user%>
            <i class="far fa-heart">
              <p><%= plan.get_upvotes.size %></p>
            </i>
          <%else%>
            <%= link_to like_plan_path(plan), method: :put do %>
              <% if @user.voted_up_on? plan %>
                <%= link_to dislike_plan_path(plan), method: :put do %>
                  <i class="fas fa-heart">
                    <p><%= plan.get_upvotes.size %></p>
                  </i>
                <% end %>
              <%else%>
                Like
                <i class="far fa-heart">
                  <p><%= plan.get_upvotes.size %></p>
                </i>
              <%end%>
            <% end %>
          <%end%>
        </div>
      </div>
    <% end %>
  </div>
  <div id="newPlanModal" class="modal">
    <div class="modal-content">
      <div>
        <p class="close">&times;</p>
      </div>
      <div class="form-container">
        <h2 class="text-center">Create a plan</h2>
        <%= simple_form_for @plan do |f| %>
          <%= f.input :name, :label => "What's the name of your plan?"%>
          <%= f.input :tag_list, :label => "Add tags seperated by commas - eg. one, two, three"%>
          <%= f.input :category_list, :collection => @categories, :prompt => "Select a category", :label => "Select a category", required: true%>
          <%= f.submit "Create new plan", class: "btn btn-primary button-form" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
