<div class="container">
  <h1 class="header-font"><%= @plan.name %></h1>

  <%if user_signed_in? && @plan.user.id != current_user.id%>
    <p class= "btn btn-primary">Clone Plan</p>
  <%end %>

  <h2>Goals</h2>
  <div class="goals-card">

      <% @goals.each do |goal| %>

        <div class="goals"><p><%= goal.content %></p></div>
      <% end %>
    <% if user_signed_in? %>
      <% if @plan.user.id == current_user.id %>
        <%= link_to 'New Goal', new_plan_goal_path(@plan),  class: "btn btn-primary" %>
      <% end %>
    <%end%>
  </div>

</div> <%# closing div for header %>

<div class="container">
  <div class="row">
    <div class="col">
      <h2>Planner</h2>
      <ul>
        <% @tasks.each do |task| %>
          <li><%= task.due_date %></li>
          <li><%= task.action %></li>
        <% end %>
      </ul>
      <% if user_signed_in? %>
        <% if @plan.user.id == current_user.id %>
          <%= link_to 'New Task', new_plan_task_path(@plan),  class: "btn btn-primary" %>
        <%end%>
      <%end%>

      <div class="card" style="width: 18rem;">
        <h2>Learning Diary </h2>
        <div class="card-body">
          <% @diary_entries.each do |entry| %>
            <p class="btn btn-primary btn-block"><%= link_to entry.title, plan_diary_entry_path(@plan.id , entry.id) %></p>
          <% end %>
          <% if user_signed_in? %>
            <% if @plan.user.id == current_user.id %>
              <%= link_to 'New Entry', new_plan_diary_entry_path(@plan),  class: "btn btn-primary btn-block" %>
            <%end%>
          <%end%>
        </div>
      </div>
    </div> <%# end div for col div%>
    <div class="col">
      <div class="card-resources">
        <h2 class="resource-heading">Resources</h2>
        <div class="list-group">
          <% @resource_info.each do |resource| %>

          <div class="list-group-item list-group-item-action resource-card">
            <a href="<%= resource[:url] %>">
              <div class="dflex">
              <img class="resource-img" src=<%= resource[:image] %>>
                <div>
                  <h5 class="mb-1"><%= resource[:title] %></h5>
                  <p class="mb-1"><%= resource[:description] %></p>
                  <small><%= resource[:url] %></small>
                </div>
              </div>
            </a>

            <div class="resource-trash">
              <% if user_signed_in? %>
                <% if @plan.user.id == current_user.id %>
                  <%= link_to plan_resource_path(@plan.id, resource[:id]), method: :delete, data: { confirm: 'Are you sure?' } do %>
                    <i class="far fa-trash-alt"></i>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          </div>

          <% end %>
        </div>

        <% if user_signed_in? %>
          <% if @plan.user.id == current_user.id %>
          <%= link_to 'Add a New Resource!', new_plan_resource_path(@plan),  class: "btn btn-primary" %>
          <% end %>
        <% end %>

      </div> <%# end of resources div %>
    </div>
  </div> <%# row end div%>
</div> <%# container end div%>

    <% if user_signed_in? %>
      <% if @plan.user.id == current_user.id %>
        <%= link_to 'Delete Plan', plan_path(@plan), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary" %>
      <% end %>
    <% end %>


     <%= link_to "Back", :back, class: "btn btn-primary" %>
