<div class="container">
  <div class="header">
    <%if user_signed_in? && @plan.user.id != current_user.id%>
      <%= link_to 'Clone Plan', plan_copy_path(@plan.id), class: "clone-btn btn btn-primary" %>
    <%end %>
    <h1 class="header-font"><%= @plan.name %></h1>
  </div>
  <%# GOALS - if user signed in AND owns plan they can add a new goal%>
  <div class="goals-card">
    <h2 class= "goals-header">Goals</h2>
    <% @goals.each do |goal| %>
      <p><%= goal.content %></p>
    <% end %>
    <% if @plan.user.id == current_user.id %>
      <span id="goalsEditButton" class= "goals-button btn btn-primary">Edit Goals</span>
    <%end%>
  </div>
</div>
<%# container closing div%>
<div class="container">
  <div class="row">
    <div class="col-4">
      <div class="planner-card">
        <div class="heading-button-wrapper">
          <h2>Planner</h2>
          <% if user_signed_in? %>
            <% if @plan.user.id == current_user.id %>
              <p id="taskAddButton" class= "btn btn-primary">Add Task</p>
            <%end%>
          <%end%>
        </div>
        <div class="table-wrapper">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Task</th>
                <th scope="col">Due Date</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <% @tasks.filter{ |task| task.status == 'pending'}.sort_by { |task|  task.due_date.to_datetime  }.each do |task| %>
                <tr>
                  <td><%= task.action %> </td>
                  <td> <%= task.due_date %></td>
                  <td>
                    <%  if @plan.user.id == current_user.id && task.status == 'pending' %>
                      <%= link_to plan_task_mark_path(@plan, task), method: 'patch', class: "checkbox" do %>
                        <i class="far fa-square"></i>
                      <% end %>
                    <% elsif @plan.user.id == current_user.id && task.status == 'complete'%>
                      <%= link_to plan_task_mark_path(@plan, task), method: 'patch', class: "checkbox" do %>
                        <i class="far fa-check-square"></i>
                      <% end %>
                    <% elsif task.status == 'pending' %>
                      <i class="far fa-square"></i>
                    <% else %>
                      <i class="far fa-check-square"></i>
                    <% end %>
                  </td>
                </tr>
              <% end %>
              <% @tasks.filter{ |task| task.status == 'complete'}.sort_by { |task|  task.due_date.to_datetime  }.each do |task| %>
                <tr>
                  <td><%= task.action %> </td>
                  <td> <%= task.due_date %></td>
                  <td>
                    <%  if @plan.user.id == current_user.id && task.status == 'pending' %>
                      <%= link_to plan_task_mark_path(@plan, task), method: 'patch', class: "checkbox" do %>
                        <i class="far fa-square"></i>
                      <% end %>
                    <% elsif @plan.user.id == current_user.id && task.status == 'complete'%>
                      <%= link_to plan_task_mark_path(@plan, task), method: 'patch', class: "checkbox" do %>
                        <i class="far fa-check-square"></i>
                      <% end %>
                    <% elsif task.status == 'pending' %>
                      <i class="far fa-square"></i>
                    <% else %>
                      <i class="far fa-check-square"></i>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <div class="learning-card">
        <h2>Learning Diary </h2>
        <div class="card-body">
          <% @diary_entries.each do |entry| %>
            <div class="diary-entry"><%= link_to entry.title, plan_diary_entry_path(@plan.id , entry.id) %></div>
          <% end %>
          <% if user_signed_in? %>
            <% if @plan.user.id == current_user.id %>
              <p id="diaryAddButton" class= "diary-btn btn btn-primary">New Diary Entry</p>
            <%end%>
          <%end%>
        </div>
      </div>
    </div>
    <%# column closing div %>
    <div class="col-8">
      <div class="card-resources">
        <div class="bookmark-header">
          <h2 class="resource-heading">My Bookmarks</h2>
          <% if user_signed_in? %>
            <% if @plan.user.id == current_user.id %>
              <p id="resourceAddButton" class= "btn btn-primary">Add Resource</p>
            <% end %>
          <% end %>
        </div>
        <div class="list-group">
          <% @resource_info.each do |resource| %>
            <div class="list-group-item list-group-item-action resource-card">
              <a href="<%= resource[:url] %>">
                <div class="dflex">
                  <div class="resource-img">
                    <img src=<%= resource[:image] %>>
                  </div>
                  <div class="resource-resources">
                    <div>
                      <h5 class="resource-title mb-1"><%= resource[:title] %></h5>
                      <p class="resource-description mb-1"><%= resource[:description] %></p>
                    </div>
                    <p class="resource-link"><%= resource[:url] %></p>
                  </div>
                </div>
              </a>
              <div class="resource-trash">
                <% if user_signed_in? %>
                  <% if @plan.user.id == current_user.id %>
                    <%= link_to plan_resource_path(@plan.id, resource[:id]), method: :delete, data: { confirm: 'Are you sure?' } do %>
                      <i class="far fa-trash-alt"></i>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <%# row closing div %>
</div>
<%# container closing div %>
<%# TASKS - if user signed in AND owns plan they can add/edit/delete a new task%>
<div class="container footer-btns">
  <%= link_to "Back", :back, class: "btn btn-primary" %>
  <%# if user owns a plan they can delete, edit plan, add/edit/delete goals, add/edit/delete resource, add/edit/delete task %>
  <% if user_signed_in? %>
    <% if @plan.user.id == current_user.id %>
      <%= link_to 'Delete Plan', plan_path(@plan), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
    <% end %>
  <% end %>
</div>
</div>
<div id="goalModal" class="modal">
  <div class="modal-content">
    <div>
      <p id="closeGoalModal" class="close">&times;</p>
    </div>
    <div class="form-container">
      <h2 class="text-center">Create a plan</h2>
      <% @goals.each do |goal| %>
        <%= simple_form_for [@plan, goal] do |f| %>
          <%= f.input :content, required: true, input_html: {value: goal.content || ''} %>
          <%= f.submit "Update Goals", class: "btn btn-primary button-form" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<div id="tasksModal" class="modal">
  <div class="modal-content">
    <div>
      <p id="closeTaskModal" class="close">&times;</p>
    </div>
    <div class="form-container">
      <h2 class="text-center">Add a task</h2>
      <%= simple_form_for [@plan, @task] do |f| %>
        <%= f.input :due_date, as: :date, html5: true %>
        <%= f.input :action %>
        <%= f.submit "Create task", class: "btn btn-primary button-form" %>
      <% end %>
    </div>
  </div>
</div>
<div id="resourcesModal" class="modal">
  <div class="modal-content">
    <div>
      <p id="closeResourceModal" class="close">&times;</p>
    </div>
    <div class="form-container">
      <h1>Add a new resource </h1>
      <%= simple_form_for [@plan, @resource] do |f| %>
        <%= f.input :url %>
        <%= f.submit "Submit", class: "btn btn-primary button-form" %>
      <% end %>
    </div>
  </div>
</div>
<div id="diaryModal" class="modal">
  <div class="modal-content">
    <div>
      <p id="closeDiaryModal" class="close">&times;</p>
    </div>
    <div class="form-container">
      <h1>Add a new resource </h1>
      <%= simple_form_for [@plan, @diary_entry] do |f| %>
        <%= f.input :title %>
        <%= f.input :mood_list, :collection => @moods, :prompt => "How you feeling today?", :label => "Select a mood", required: true%>
        <%= f.input :content %>
        <%= f.submit "Submit", class: "btn btn-primary button-form" %>
      <% end %>
    </div>
  </div>
</div>
