<h1><%= @plan.name %></h1>
<h2 class="resource-heading">Resources</h2>
<div class="resources">
  <div class="list-group">
    <% @resource_info.each do |resource| %>

        <div class="list-group-item list-group-item-action resource-card">
          <a href="<%= resource[:url] %>">
            <div class="dflex">
                <img class="resource-img" src=<%= resource[:image] %>>
              <div>
                <h5 class="mb-1"><%= resource[:title] %></h5>
                <p class="mb-1"><%= resource[:description] %></p>
                <small><%= resource[:url] %></small>
              </div>
            </div>
          </a>

          <div class="resource-trash">
            <% if user_signed_in? %>
              <% if @plan.user.id == current_user.id %>
                <%= link_to plan_resource_path(@plan.id, resource[:id]), method: :delete, data: { confirm: 'Are you sure?' } do %>
                  <i class="far fa-trash-alt"></i>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>

    <% end %>
  </div>
</div>


<%= link_to "Back", :back, class: "btn btn-primary" %>

<% if user_signed_in? %>
  <% if @plan.user.id == current_user.id %>
    <%= link_to 'Delete Plan', plan_path(@plan), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary" %>
  <% end %>
<% end %>
